[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
pydantic = {extras = ["email"], version = "*"}
gunicorn = "*"
uvicorn = {extras = ["standard"], version = "*"}
asyncpg = "*"
tenacity = "*"
alembic = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
psycopg2-binary = "*"
redis = "*"
twilio = "*"
aiofiles = "*"
aiosmtplib = "*"
celery = "*"
passlib = "*"
python-multipart = "*"
bcrypt = "==4.0.1"
python-jose = {extras = ["cryptography"], version = "*"}
sib-api-v3-sdk = "*"
stripe = "*"
asyncer = "==0.0.8"

[dev-packages]
factory-boy = "*"
pytest-asyncio = "*"
ruff = "*"
black = {extras = ["d"], version = "*"}

[requires]
python_version = "3.13"
